<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>BIENVENIDO</h1>
            <p>Probando probando</p>
            <div class="card">
                <div class="card-header">
                    <h3>Detalle del Cliente</h3>
                </div>

                <div class="card-body">
                    <p><strong>Nombre:</strong>
                        <%= cliente.nombre %>
                    </p>
                    <p><strong>Email:</strong>
                        <%= cliente.email %>
                    </p>
                    <p><strong>Teléfono:</strong>
                        <%= cliente.telefono %>
                    </p>
                </div>

                <div class="card-footer">
                    <a href="/clientes" class="btn btn-secondary">
                        Volver
                    </a>

                    <a href="/clientes/editar/<%= cliente._id %>" class="btn btn-warning">
                        Editar
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>